<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="screenshot"></div>

        <div class="form-container">
            <div class="logo-image">
                <img src="https://" alt="Instagram" />
            </div>

            <form>
                <input type="text" class="form-control" placeholder="Phone number, usernam, or email" />
                <input type="password" class="form-control" placeholder="Password" />
                <button class="btn btn-primary" value="Log In"></button>
            </form>
            
            <hr />
            or
            <hr />
            <div class="loginFacebook">
                <a href="">Log in with Facebook</a>
            </div>
            <div class="forgotPassword">
                Forgot Password?
            </div>
        </div>
        
        <div class="signUp">
            Don't have an account? <a href="">Sign up</a>
        </div>

        <div class="getApp">
            <img>
            <img>
        </div>

        <footer class="footerInsta">
            
        </footer>
    </div>    
</body>
</html>